In [82]:
import pandas as pd
df=pd.read_csv('./COVID19positive_submissions.csv', low_memory=False)
df.shape

(93576, 99)

In [83]:
df=df[~df.selftext.isin(['[deleted]', '[removed]'])]
df=df[df.selftext.notna()]

In [84]:
df=df[~df.selftext.str.contains('As per the rules|Title')]
df.shape

(60180, 99)

In [89]:
df1=df.copy()
df1['text']=df1['title']+' '+df1['selftext']
df1['created']=df1.created_utc.apply(lambda x: pd.to_datetime(x, unit='s').strftime('%Y-%m-%d'))
df1=df1[['author', 'link_flair_text', 'text', 'created']]

In [90]:
df1.head(2)

,author,link_flair_text,text,created
0,the1andonlyjoja,NaN,I am constantly seeing people asking about peo...,2020-03-14
6,theraceison69,NaN,No idea if it’s just allergies / crazy family ...,2020-03-16

In [91]:
grouped = df1.groupby('author').agg({'created': lambda x: list(x)})
df1 = df1.merge(grouped, left_on='author', right_index=True, suffixes=['', '_occ'])
df1.head(2)

,author,link_flair_text,text,created,created_occ
0,the1andonlyjoja,NaN,I am constantly seeing people asking about peo...,2020-03-14,"[2020-03-14, 2020-03-19, 2020-03-26, 2020-04-1..."
94,the1andonlyjoja,Announcement,A message from the mod team. We are ironing ou...,2020-03-19,"[2020-03-14, 2020-03-19, 2020-03-26, 2020-04-1..."

In [92]:
df1['created_occ_len']=df1.created_occ.apply(lambda x: len(x))
df1.head(2)

,author,link_flair_text,text,created,created_occ,created_occ_len
0,the1andonlyjoja,NaN,I am constantly seeing people asking about peo...,2020-03-14,"[2020-03-14, 2020-03-19, 2020-03-26, 2020-04-1...",5
94,the1andonlyjoja,Announcement,A message from the mod team. We are ironing ou...,2020-03-19,"[2020-03-14, 2020-03-19, 2020-03-26, 2020-04-1...",5

In [100]:
print(df1.shape)
df1[df1.created_occ_len<1312].shape

(60180, 6)

(4166, 6)

In [102]:
df1=df1.drop_duplicates(subset=['author'])
df1.sort_values('created_occ_len', ascending=False).head(10)

,author,link_flair_text,text,created,created_occ,created_occ_len
205,[deleted],NaN,What’s my fault? I have mask on and people in ...,2020-03-19,"[2020-03-19, 2020-03-23, 2020-03-25, 2020-03-2...",1312
36685,Cablab123,Tested Positive - Family,My son was exposed at school. I’m angry. First...,2021-02-14,"[2021-02-14, 2021-02-15, 2021-02-15, 2021-02-1...",48
81909,juicylinaxo,Help - Medical,When does it get better? My timeline :( So her...,2022-07-09,"[2022-07-09, 2022-07-11, 2022-07-12, 2022-07-1...",41
56634,Willing_Book_1203,Vaccine- tested positive,Tips on how to cope with a positive Covid resu...,2021-11-20,"[2021-11-20, 2021-11-21, 2021-11-22, 2021-11-2...",40
641,Scorpion1386,Question-to those who tested positive,Heard someone who was 35 and no underlying hea...,2020-03-23,"[2020-03-23, 2020-03-23, 2020-03-28, 2020-04-0...",38
6103,electrowiz64,Tested Positive - Me,Can coughing help the breathing? Friday May 22...,2020-05-31,"[2020-05-31, 2020-06-06, 2020-06-16, 2020-06-2...",37
17784,LastTurnip7858,Presumed Positive - From Doctor,Stroke Can you have a stroke 6 days before Cov...,2020-10-03,"[2020-10-03, 2020-10-04, 2020-10-04, 2020-10-0...",35
52368,Mysterious-Housing72,Tested Positive - Me,30m Covid positive day 6 just got regeneron I ...,2021-09-13,"[2021-09-13, 2021-09-14, 2021-09-16, 2021-09-1...",34
50141,graynorv,Tested Positive - Me,Freaking out 24m overweight. So I just tested ...,2021-08-25,"[2021-08-25, 2021-08-25, 2021-08-27, 2021-08-2...",34
6404,yojodavies,Tested Positive,My case I am a 19 year old female and my only ...,2020-06-05,"[2020-06-05, 2020-06-05, 2020-06-06, 2020-06-0...",33

In [ ]:
for i in df.columns.tolist():   
    if 'author' in i:
        print(i)

author
author_created_utc
author_flair_background_color
author_flair_css_class
author_flair_richtext
author_flair_template_id
author_flair_text
author_flair_text_color
author_flair_type
author_fullname
author_patreon_flair
author_premium
author_cakeday